/* Contact */

// Form validation styles
#contactFormWrapper {
	.valid-input { 
		border: solid 2px rgba(108, 190, 69, 0.8); 
		outline: 0; 
		outline: thin dotted \9; 
		-webkit-box-shadow: inset 0 1px 1px rgba(108, 190, 69, 0.075), 0 0 8px rgba(108, 190, 69, 0.6); 
		-moz-box-shadow: inset 0 1px 1px rgba(108, 190, 69, 0.075), 0 0 8px rgba(108, 190, 69, 0.6); 
		box-shadow: inset 0 1px 1px rgba(108, 190, 69, 0.075), 0 0 8px rgba(108, 190, 69, 0.6); 
	}
	.EditingFormErrorLabel { color: red; }
	.invalid-input { 
		border: solid 2px rgba(238, 42, 36, 0.8); 
		outline: 0; 
		outline: thin dotted \9; 
		-webkit-box-shadow: inset 0 1px 1px rgba(238, 42, 36, 0.075), 0 0 8px rgba(238, 42, 36, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(238, 42, 36, 0.075), 0 0 8px rgba(238, 42, 36, 0.6); box-shadow: inset 0 1px 1px rgba(238, 42, 36, 0.075), 0 0 8px rgba(238, 42, 36, 0.6); 
	}
}