/* Home */

// Hero Slider 
#hero-wrapper {
	.caption {
	position: absolute;
	bottom: 40%;
	background: rgba(255,255,255,0.85);
	padding: 30px 50px;
	font-family: 'Bitter', serif;
	font-size: 28px;
	font-weight: 900;
	}
}